.wrapper {
  display: flex;
  margin: 1rem;
}

.wrapper>button {
  width: 40rem;
  margin: 2rem;
}

.add-btn {
  background-color: #4476f9;
  color: white;
  width: 200px;
  border: none;
  border-radius: 5px;
}