.opt-module {
  position: absolute;
  top: 0;
  right: 0;
}

.btn-delete {
  display: block;
  width: 4rem;
  height: 1.8rem;
  margin: 0.5rem;
  background-color: #ff5353;
  border: 1px solid black;
  border-radius: 5px;
}

.btn-modify {
  display: block;
  width: 4rem;
  height: 1.8rem;
  margin: 0.5rem;
  background-color: #65f474;
  border: 1px solid black;
  border-radius: 5px;
}

.btn-add {
  display: block;
  width: 4rem;
  height: 1.8rem;
  margin: 0.5rem;
  background-color: #4fb8e7;
  border: 1px solid black;
  border-radius: 5px;
}