.search-bar {
  width: 17rem;
  height: 2rem;
  border-radius: 5px;
  border: 1.5px solid gray;
  margin: 0 1rem;
}

.add-btn {
  height: 2.3rem;
}

.btn {
  height: 2.3rem;
  width: 6rem;
  background-color: white;
  color: #181818;
  font-weight: 580;
  margin: 0 2rem;
  border: 2px solid #181818;
  border-radius: 5px;
}

.btn-t {
  height: 2.3rem;
  width: 6rem;
  background-color: #94bcd6;
  color: #181818;
  font-weight: 580;
  margin: 0 2rem;
  border: 2px solid #181818;
  border-radius: 5px;
}


.wrapper {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 1rem;
  margin-bottom: 3rem;
  position: 3;
}

.times {
  margin-right: 5rem;
}